<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>UP Dream</title>
		<!-- Bootstrap -->
		<link href="/static/css2/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
		    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>

		<link href="/static/css2/owl.carousel.css" rel="stylesheet">
		<link href="/static/css2/owl.theme.css" rel="stylesheet">
		<link href="/static/css2/owl.transitions.css" rel="stylesheet">

		<link href="/static/css/style.css" rel="stylesheet">




		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".main-nav">
		
		<header class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="text-vertical-center">
		<img class="img-responsive center-block" src="/static/images/logowhite.png" style="padding-top:20px;">
								<br><br><br>
								<div class="text-center"><a href="/up_login"  class="btn outline btn-lg" style="margin-bottom:50px;">Connect</a></div>
								<br><br><br>
								<div id="footer">
			<div class="mouse-icon center-block"><div class="wheel"></div></div>
      </div>
		</div>
		</header>

		
		<section class="service" id="service" style="padding-bottom:50px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-envelope"></i></div>
									<strong class="st-feature-title">REMEMBER</strong>
									<p>Receive text and feed notifications to remind you to record your dreams.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-pencil"></i></div>
									<strong class="st-feature-title">WRITE</strong>
									<p>Practice dream recall by writing down your dreams from the previous night.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-book"></i></div>
									<strong class="st-feature-title">READ</strong>
									<p>To get yourself into the spirit of your dreams, read through your dream journal at bedtime.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<div class="st-feature-icon"><i class="fa fa-moon-o"></i></div>
									<strong class="st-feature-title">DREAM</strong>
									<p>Start exploring the world of your dreams while still on the scene.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="features-desc" style="padding-top:60px;">
			<div class="container">
				<div class="row"  style="padding-bottom:50px;">
					<div class="col-md-5">
						<img src="/static/images/inception.jpg" alt="" class="img-responsive" style="padding-top:20px;">
					</div>
					<div class="col-md-7">
						<h3 class="bottom-line">THE ART OF LUCID DREAMING</h3>
						<p style="margin-bottom: 10px;">A lucid dream is any dream during sleep in which you become aware that you're dreaming. This simple realization snaps your waking consciousness into the dream, enabling you to:</p>
						<ul style="padding-left: 15px;">
							<li>
						Explore your dreamworld with total clarity. Everything you see, hear, touch, taste and smell can be as authentic as reality. It is truly mind-blowing to discover this virtual world.</li>
						<li>
Fulfill any fantasy. Fly over mountains, shapeshift, time travel, spot dinosaur, fight ninjas, meet your hero and visit alien planets. </li><li>
Overcome personal psychological issues. In the safety of the lucid dream environment you can face your fears, phobias, anxieties, nightmares, past traumas and recurring dreams.</li><li>
Tap into your inner creativity. In surreal and unexpected ways, you can make music, seek original artistic imagery and solve technical problems, just like these famous folk.</li>
					</div>
				</div>

				<div class="row">
					<div class="col-md-7">
						<h3 class="bottom-line">DREAMING WITH UPDREAM</h3>
						<p>Remembering your dreams is the starting place for learning to have lucid dreams. If you can't recall your dreams, even if you do have a lucid dream, you won't be able to remember it. UPDream is the best way to practice dream recall by maintaining a virtual dream journal. Gone are the days where dream journaling involved rifling through a paper notebook, hunting for a pen, or squinting with a night light. 
						<br>
						Personalize your dream recall experience by connecting with the UP app. When you wake up in the morning, we'll immediately remind you to record last night's dream with text and UP feed notifications while the dreams are still fresh in your mind.
						<br>
					 Learning to remember your dreams may seem difficult at first, but if you persist, you will almost certainly succeed--and may find yourself remembering four or more dreams per night. The more familiar you become with the style of your own dreams, the easier it will be to remember you are dreaming while you are dreaming.</p>
					</div>
					<div class="col-md-5">
						<img src="/static/images/phones.jpeg" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</section>

		<section class="call-2-acction" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="c2a">
							<h2>Ready to Join?</h2>
							<a href="/up_login"  class="btn outline btn-lg">Connect to UP</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/js2/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js2/bootstrap.min.js"></script>
		<script src="/static/js2/jquery.easing.min.js"></script>
		<script src="/static/js2/jquery.stellar.js"></script>
		<script src="/static/js2/jquery.appear.js"></script>
		<script src="/static/js2/jquery.nicescroll.min.js"></script>
		<script src="/static/js2/jquery.countTo.js"></script>
		<script src="/static/js2/jquery.shuffle.modernizr.js"></script>
		<script src="/static/js2/jquery.shuffle.js"></script>
		<script src="/static/js2/owl.carousel.js"></script>
		<script src="/static/js2/jquery.ajaxchimp.min.js"></script>
		<script src="/static/js2/script.js"></script>
	</body>
</html>